/* GLOBAL STYLES
-------------------------------------------------- */
.navbar-brand img {
    width: 200px;
    padding: 0;
}
.btn-call { background: #7d39d3; font-size: 16px; font-weight: 700; color: #fff;padding: 10px 20px 10px 20px; }

.btn-call span {
    background: #fff;
    border-radius: 50%;
    padding: 6px;
}
.btn-call span svg {
    vertical-align: text-bottom;
}
main { padding-top: 5em;}

header.masthead {
  background:url("assets/img/bg-top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 70vh;
}
header.masthead h1 {
  font-size: 2.25rem;
}

.credibility .card {
    border: 2px dashed #404E65;
}
.credibility .col:first-child .card {
    border-color:#14BFA3;
}
.credibility .col:nth-child(2) .card {
    border-color:#F7CF1C;
}
.credibility .col:last-child .card {
    border-color:#914899;
}

/*Programs*/

.program-list .program-card .card-header {
    background: #FEBA2E;
    border-radius: 13px 13px 0 0;
    font-weight: 700;
    color: #fff;
    min-height: 70px;
}
.program-list .program-card:nth-child(2) .card-header {
    background: #7B66E6;
}
.program-list .program-card:nth-child(3) .card-header {
    background: #FD9E6E;
}
.program-list .program-card:nth-child(4) .card-header {
    background: #329EEA;
}
.program-list .program-card:nth-child(5) .card-header {
    background: #F05684;
}

.program-card .list-group-item{ border: 0;}

/*--------*/

.scrolling-wrapper{
	overflow-x: auto;
}
.program-card {
    background: #FFFFFF;
    border-radius: 19px;
    width: 32%;
    min-width: 320px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}


.ourworks-box{
	width: 60%;
	justify-content: center;
	text-align: center;
}

.our-works-head{
	font-size: 30px;
	font-weight: 400;
	color: black;
}
.introduce{
	height: 250px;
	background-color:white;
	box-shadow: 0 3px 10px #5969f642;
	border-bottom: 4px solid #5969f6;
	color: black;
}

.introduce:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-bottom: 4px solid #B122e5;
	color: black;
	text-decoration: none;
}
.flex-column-1{
	height: 70%;
	width: 100%;

}
.flex-column-2{
	height: 30%;
	width: 100%;
	align-items:center;
}
.text-gray{
	color: gray;
}
.pic{
    height: 70px;
    width: 70px;
    margin-left: 20px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.introduce:hover .pic{
	transform: scale(1.1);
}
.carousel-indicators .active{
	background-color: #46eeaa;
}
.carousel-indicators li{
	background-color: #c8e5ff;
}
.carousel-indicators{
	bottom: -50px;
}

.program-view .title-text h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 35px;
}
.program-view .title-text p {
    font-size: 14px;
}
.program-select select.custom-select {
    border-radius: 2em;
    border: 0;
    height: 3em;
    font-size: 17px;
    font-weight: 700;
    padding-left: 25px;
}    

.program-card:first-child {
    margin-left: 25px;
}
.program-card {
    min-width: 290px;
}
.feature-img {
    width: 125px;
}

.subscription .sub-list .col:first-child .card {
    background: #EF9B18;
    color: #fff;
}
    
.subscription .sub-list .col:nth-child(2) .card {
    background:#62D0CA;
    color: #fff;
}
.subscription .sub-list .col:last-child .card {
    background:#37ABCF;
    color: #fff;
}
.btn-off {
    background: #fff;
    border-radius: 2em;
    font-weight: 500;
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}
.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #068ee5;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #21c1e0;
    border-radius: 50%;
    transition: all .2s;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}


/*! CSS Used keyframes */
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.speakingPen .accordion>.card {
    border-radius: 1.5em;
}

.parentReview .carousel-item {
    height: 40vh;
}
.parentReview .card{
    position: relative;
    border-radius: 1.5em;
}

.parentReview .feature-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
}
.parentReview .card .card-body {
    padding-top: 5em;
}
.parentReview .card-body .card-title:first-child {
    font-weight: 800;
    color: #404E65;
}
.parentReview .card-body .card-title:nth-child(2) {
    color: #37ABCF;
    font-weight: 700;
}

.mediaCoverage .card-deck .card img {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    color: #ffffff;
    background-color: #FEBA2E;
    border-color: #FEBA2E;
    z-index: 9999;
}
.btn-request {
    background: #7e39d3;
    color: #fff;
    border-radius: 0;
    padding: 16px 0;
}
.btn-request span {
    background: #fff;
    border-radius: 50%;
    padding: 8px;
}
.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
    z-index: 2;
}
.masthead .masthead-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -7em;
    width: 44vh;
    height: 44vh;
    background-color: rgb(34 193 224);
    transform: skewY(0);
    transform-origin: bottom left;
    border-radius: 50%;
}

/* Featurettes
------------------------- */



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

.navbar-brand img { width: 135px;}

.navbar-nav .nav-link { text-align: center;}
    
header.masthead {
    padding-top: 7rem;
    height: 34vh;
    background-position-x: -4em;
    background-repeat: repeat-x;
}

header.masthead h1 {
    font-size: 12px;
    text-align: left;
    line-height: 19px;
    margin-left: 12px;
}
    
.credibility p.card-title.h5 {
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
}
  .video-play-button:after {
    width: 50px;
    height: 50px;
  }
  .video-play-button {
    width: 32px;
    height: 44px;
    padding: 38px 12px 18px 28px;
  }
  .video-play-button span {
    border-left: 22px solid #fff;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
    
.why-ft .title-text h3 {
    font-size: 18px;
    line-height: 30px;
}
.feature-listing .card-title {
    font-size: 17px;
}
.feature-listing .card-body p:nth-child(2) {
    font-size: 14px;
}
    
.parentReview .col:first-child {
    margin-top: 1em;
    margin-bottom: 5em;
}
.parentReview .col:nth-child(2) {
    margin: 1em 0 6em 0;
}
.back-to-top {bottom: 85px;}

.mediaCoverage .card-deck .card {
    width: 70%;
    margin: 0 auto !important;
    text-align: center;
}

    
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

.navbar-brand img { width: 170px;}
    
.feature-img { width: 130px;}
header.masthead {
    height: 30vh;
}
.masthead .masthead-bg {
    right: -7em;
    width: 37vh;
    min-height: 44vh;}
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.feature-img { width: 150px;}
.back-to-top {bottom: 85px;}
header.masthead {
    height: 50vh;
    background-position-x: -12em;
}
.masthead .masthead-bg {
    right: -7em;
    width: 55vh;
    height: 55vh;}
    
header.masthead h1 {
    font-size: 1.9rem;
}
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
header.masthead {
    height: 35rem;
    background-position-x: -13em;
    background-repeat: repeat-x;
}
.masthead .masthead-bg {
    width: 50vh;
    height: 50vh;
 }
.feature-img { width: 150px;}
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
 header.masthead h1 {font-size: 2.5rem;}
.masthead .masthead-bg { width: 80vh; height: 80vh;}
.program-card { width: 32%; min-width: 345px;}
.feature-img {  width: 180px;}
.parentReview .col { margin-top: 3.5em;}
.masthead {
    height:10vh;
    min-height: 0;
    padding-bottom: 0;
}
    
}